@model NhsLesson08Annotation.Models.NhsAccount

@{
    ViewData["Title"] = "NhsDetails";
}

<h1>NhsDetails</h1>

<div>
    <h4>NhsAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsFacebook)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
