@model NguyenHaiSon_2310900088.Models.NhsEmployee

@{
    ViewData["Title"] = "Xem thông tin sinh viên";
}

<h1>Details</h1>

<div>
    <h4>NhsEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsEmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsEmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsEmpLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsEmpLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsEmpStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsEmpStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhsEmpStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhsEmpStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NhsEmpId">Edit</a> |
    <a asp-action="NhsIndex">Back to List</a>
</div>
